/* Container holding the image and the text */ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.grid_container{
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: auto auto;
    gap: 0 0;
}
.container1 {
    /* position: relative; */
    text-align: center;
    color: white;
    background-color: aqua;
    grid-column: 1/2;
    grid-row:1/3;
    height: 200px;
}

.container2{
    /* position: relative; */
    background-color: salmon;
    grid-column: 2/3;
    background-color: salmon;
    grid-row: 1/2;
}
.container3{
      background-color: seagreen;
    grid-column: 2/3;
    grid-row:2/3
  }
  /* .container1 img{
    width: 400px;
  } */
*{
    color: black;
    font-family: 'Manrope';
}
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .leftContainer{
    width: 50%;
    margin-left: 10%;

  }
  .contentContainer{
    display: flex;
    width: 100%;
  }

  .contentTitle{
    /* font-style: 35px; */
    display: inline;
  }
  .contentBox{
    display: flex;
    margin-bottom: 20px;
    /* gap: 20px; */
  }
  .textContent{
    margin-left: 20px;
    margin-right: 10px;
  }

  .rightContainer{
    display: block;
  }
  .imgContainer{
    display: flex;
    justify-content: center;
  }
  .authorInfo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .authorTextContent{
    margin-top: 37px;
    margin-left: 20px;
  }