/* Container holding the image and the text */ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.grid_container{
    display: grid;
    grid-template-columns: 80ch 80ch ;
    grid-template-rows: 40vh 40vh ;
    gap: 10px 10px;
    margin-left: 10vw;
}
.container1 {
    /* position: relative; */
    text-align: center;
    color: white;
   background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Taj_Mahal%2C_Agra%2C_India_edit3.jpg/375px-Taj_Mahal%2C_Agra%2C_India_edit3.jpg');
    grid-column: 1/2;
    grid-row:1/3;
    /* height: 200px; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center; 
}

.container2{
    /* position: relative; */
    background-color: salmon;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/414/148/884/eiffel-tower-in-paris-france-widescreen-urban-scenery-wallpaper-preview.jpg');
    grid-column: 2/3;
    background-color: salmon;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center; 
  }
  .container3{
    background-color: seagreen;
    background-size:cover;
      background-image: url('https://s.yimg.com/ny/api/res/1.2/lO0mR.yeOYmxoC0j2_lXEQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD01MDM-/https://s.yimg.com/os/creatr-uploaded-images/2021-06/f5c1dd40-c81a-11eb-abb4-9fea103ba8f9');
    grid-column: 2/3;
    grid-row:2/3;
    background-repeat: no-repeat;
    background-position: center center; 
  }
  /* .container1 img{
    width: 400px;
  } */
*{
    color: black;
    font-family: 'Manrope';
}
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .leftContainer{
    width: 50%;
    margin-left: 5vw;

  }
  .rightContainer{
    width: 40%;
  }
  .contentContainer{
    display: flex;
    width: 100%;
  }

  .contentTitle{
    /* font-style: 35px; */
    display: inline;
  }
  .contentBox{
    display: flex;
    margin-bottom: 20px;
    /* gap: 20px; */
  }
  .textContent{
    margin-left: 20px;
    margin-right: 10px;
  }

  .rightContainer{
    display: block;
  }
  .imgContainer{
    display: flex;
    justify-content: center;
  }
  .authorInfo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .authorTextContent{
    margin-top: 37px;
    margin-left: 20px;
  }

  .recommendedContent{
    display: flex;

    justify-content: space-evenly;

}
.articleDescription{
  width:50%;
  margin: auto;
}
.recommendedContentElement{
  width:50ch;
}
.recommendedContentElement h3{
  width:30vw
}
.recommendedContentElement img{
  width:30vw;
  height:40vh;
  border-radius:20px
}
.underlineHeadingStyle{
  text-align:left;
  text-decoration: underline;
  text-decoration-color:red}

  .imgContainer img{
    /* border:solid black 4px; */
    align-self:center;
    border-radius:20px;
    width:500px;
  }
.articleDescription{
  width:50%;
  margin: auto;
}
.subheading_container button{
  background-color: red; 
  border-radius: 20px; 
  padding: 15px; 
  margin-left: 50%;
}
.dropDownMenu{
  display: none;
}

.leftContainer img{
  border-radius:18px;
  width:300px;
 }

.rightContainer img{
  border-radius:18px;
  width:300px;
}
.ad{
  height: 419px;
  width: 600px !important;
}
.leftContainer a{
  text-decoration: none;
}

.rightContainer a{
  text-decoration: none;
}
/* start home page */
.recommendedContent img{
  width: 30vw; 
  height: 40vh; 
  border-radius: 20px;
} 
.recommendedContent h3{
  width: 30vw;
}
.latestArticles{
  display: flex;
  margin-top: 2vh;
}
/* end home page  */

@media (min-width: 300px) and (max-width: 768px) {
    .contentContainer{
      flex-direction: column;
      display: flex;
      
    }
    .dropDownMenu{
      display: block;
    }
    .articleDescription{
      width:100%;
      margin: 0;
      margin-top: 2vh;
    }
    .heading_container{
      flex-direction: column;
      float: right;
      position: absolute;
      right: 0;
    top: 0;
  
      /* display: none; */
   }
   .contentBox{
    flex-direction: column;
   }
   .recommendedContent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .recommendedContentElement{
    flex-direction: column;
   }
   .imgContainer img{
    width:100vw;
  }
   .recommendedContentElement img{
    width: 95vw;
    height: 30vh;

  }
    .subheading_container button{
      padding: 5px 13px;
      margin-left: 33% 
    }
   /* start home page */
   .recommendedContentElement h3{
    width: 98vw;
  }
  
    /* .inlineOnMobile{
      display: inline;
    } */
    .leftContainer{
      width: 100vw;
      margin-left: 0;
    }
    .leftContainer img{
      width: 95vw;
      border-radius:18px;
      height: 25vh;
      align-items: center;
    }
    .ad{
      display: none;
    }
    .rightContainer{
      width: 100vw;
    }
    .rightContainer img{
      border-radius:18px;
      width:95vw;
    }
    .contentBox{
      align-items: center;

    }
    .recommendedContent h3{
      width: 100vw;
    
    }
    .grid_container{
      
      grid-template-columns: 100vw ;
      grid-template-rows: 20vh 20vh 20vh ;
    row-gap: 10px;
      margin-left: 0;
    }
    .container1 {
      grid-row: 1/2;
      grid-column: 1;
    }
    .container2 {
      grid-row: 2/3;
      grid-column: 1;
    }
    .container3 {
      grid-row: 3/4;
      grid-column: 1;
    }
    .latestArticles{
     flex-direction: column;
     align-items: center
    }
    .homeContainer{
        align-items: center;
    }
    .textContent{
      margin: 0;
      margin-left: 5px;
    }
    /* end home page  */
  }
  @media screen and (max-width: 600px) {
    .heading_container a {display: none;}
    .topnav .dropdown {
      float: right;
      display: block;
    }
  }