.heading_container{
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
}

ul{
    list-style-type:none;
}

.center{
    text-align: center;
}
/* body{
    background: rgb(165,23,247);
background: linear-gradient(90deg, rgba(165,23,247,1) 0%, rgba(0,155,255,0.9389005602240896) 98%);
} */
*{
    color: white;
}
hr{
    border: 2px solid white;
    border-radius: 5px;
    width:75%
}
.underline:hover{
    text-decoration:none;
}
h1{
    text-align: center;
}